<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel="icon" href="http://deeplearning.ge.imati.cnr.it/ditac/pics/favicon.ico" type="image/x-icon"/>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='all'>
    <header class='header'>
        <a href="https://medium.com/ieeecisunb" target="_blank">
            <img 
            src="http://deeplearning.ge.imati.cnr.it/ditac/pics/digitbrain-2.png"
            height="54" 
            width="167">
        </a>
        <h1 class='title'>
            DITAC Cable Problem Interface
        </h1>
        <p class="info">
            Developed by Andrea Ranieri - CNR-IMATI
        </p>
    </header>
    <p class="text" style="color:crimson;text-decoration:none;">
        Please load your KistlerFile in .csv format to get a prediction
    </p>
    <div class='content'>
      <div class='select'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='csv/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select KistlerFile</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Selected KistlerFile' height='200'>
      </div>
    </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
        <div class='result-label'>
            <label id='result-label'></label>
        </div>
      </div>
    </div>
    </div>
    <div class='more'>
        <p></p>
        <a href="https://twitter.com/4ndr3aR" target="_blank" style="color:#dbd8e3;text-decoration:none;">Contact me</a>
        <img 
        src="http://deeplearning.ge.imati.cnr.it/ditac/pics/digitbrain-2.png"
        height="54" 
        width="167"
        >
    </div>
</div>
</body>
</html>
