<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='all'>
    <header class='header'>
        <a href="https://medium.com/ieeecisunb" target="_blank">
            <img 
            src="logo.png" 
            height="60" 
            width="60">
        </a>
        <h1 class='title'>
            Your tittle here
        </h1>
        <p class="info">
            Developed by ...
        </p>
    </header>
    <p class="text">
        Description
    </p>
    <div class='content'>
      <div class='select'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
    </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
        <div class='result-label'>
            <label id='result-label'></label>
        </div>
      </div>
    </div>
    </div>
    <div class='more'>
        <p>More...
        or Examples
        or References</p>
        <p href="" target="_blank"> Contact
        or Github</p>
        <img 
        src="logo.png" 
        height="60" 
        width="60"
        >
    </div>
</div>
</body>
</html>
