aiofiles==0.4.0
aiohttp==3.5.4
asyncio==3.4.3
fastai==2.3.0
numpy==1.19.2
pandas==1.1.5
starlette==0.20.0
uvloop==0.16.0
uvicorn==0.17.6
python-multipart==0.0.5
Flask==2.0.3
Flask-DebugToolbar==0.11.0
wwf==0.0.16
colored==1.4.3
bcrypt==3.2.2
