body {
    background-color: #90909c; /*COR DO SITE*/
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {    /* CARACTERISTICA DO TITULO*/
    font-size: 40px; /*TAMANHO*/
    margin-top: 1em;
    margin-bottom: 1em;
    color: #fff; /*COR DO FONTE*/
    font-family: times, serif; /*TIPO DE FONTE*/
    font-style:italic, bolder; /*ESTILO DA FONTE*/
}

.text { /*CARACTERISTICAS DA DESCRIÇAO DO APP*/
    color: #fff;
    font-family: times, serif;
    font-style:italic;
    font-size: 20px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    border: black;
}

.result-label { /*CARACTERISCAS DO RESULTADO*/
    margin-top: 0.5em;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: black;
}

.choose-file-button { /*CARACTERISCAS DO BOTAO DE SELECIONAR*/
    width: 200px;
    height: 40px;
    border-radius: 6px;
    background-color: #163553;
    border: solid 1px black;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.choose-file-button:hover {
    border: solid 1px #0d0053;
    background-color: #303031;
    font-size: 13px;
    color: #fff;
    transition: 2ms;
}

.analyze .analyze-button { /*CARACTERISCAS DO ANALISAR*/
    width: 200px;
    height: 40px;
    border: solid 1px black;
    border-radius: 6px;
    background-color: transparent;
    font-size: 13px;
    cursor: pointer;
    color: black;
}

.analyze .analyze-button:hover {
    background-color: #303031;
    color: #fff;
}

